main .split-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 60px 24px;
}

main .split-panel .split-panel-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .split-panel .split-panel-content h2 {
  font-size: var(--heading-font-size-xl);
  margin-bottom: 1rem;
}

main .split-panel .split-panel-content p {
  font-size: var(--body-font-size-s);
  line-height: 1.5;
  text-transform: uppercase;
}

main .split-panel .split-panel-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (width >= 900px) {
  main .split-panel {
    flex-direction: row;
    padding: 80px 48px;
    align-items: stretch;
  }

  main .split-panel .split-panel-item {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
