@import url('./footer-tokens.css');

footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: var(--footer-max-width);
  padding: var(--footer-padding);
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: var(--footer-padding-desktop);
  }
}
