@font-face {
  font-family: Obviously;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Obviously-Narrow_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Vulf Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Vulf_Sans-Regular.woff2') format('woff2');
}
